name: "Deploy to Github Pages"

on:
    push:
        branches:
            - master

    workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - uses: pnpm/action-setup@v4
              name: Install pnpm
              with:
                  version: 10
                  run_install: false

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install

            - name: Setup Pages
              id: setup_pages
              uses: actions/configure-pages@v5

            - name: build
              env:
                  BASE_PATH: "/${{ github.event.repository.name }}"
              run: |
                  pnpm run build

            - name: Upload Artifacts
              uses: actions/upload-pages-artifact@v3
              with:
                  path: "build/"
    deploy:
        needs: build
        runs-on: ubuntu-latest

        permissions:
            pages: write
            id-token: write

        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        steps:
            - name: Deploy
              id: deployment
              uses: actions/deploy-pages@v4
